.bg-login {
    width: 100vw;
    height: 100vh;
    background: $azul;
    
    main {
        @include flex;
        flex-direction: column;

        .logo-login {
            margin-top: 20vh;
            width: auto;
            height: auto;
           

        }

        .principal-content-login {
            width: 100vw;
            height: 18vh;
            

                .title-login {
                    font-family: 'IBM Plex Sans', sans-serif;
                    font-weight: 500;
                    text-align: center;
                    color: white;
                }

                .subtitle-login {
                    margin-top: 1.5rem;
                    text-align: center;
                    line-height: 1.5rem;
                    color: white;
                }
        }

        .btn-area-login {
            width: 100vw;
            height: 13vh;
            @include flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: .5rem;
            
        }

        .ilustration-area-login {
            width: 100vw;
            height: 33vh;
            
                .ilustration-login {
                    margin-left: 2rem;
                    height: 100%;
                }

        }


    }
    
        
}
